@import 'core/settings';

.page__body {
  margin: 0;
}
.page__main {
  display: flex;
}

.show-result__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.show__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 250px;
  text-align: center;
  margin: 20px 10px;
}


.favourite {
  background-color: salmon;
  color: blue;
  .show__title {
    &::after {
      content: "★";
      color: yellow;
      padding-left: 20px;
      font-size: 20px;
    }
  }
}

.show-favourites__list {
  list-style: none;
  border: none;
}
.small {
  display: flex;
}
