@import 'core/variables';
@import 'core/settings';

.page {
  margin: 0;
  height: 100vh;
  background-color: $color-dark-grey;
  color: $color-dark-red;
  text-shadow: 0 1px 0 black;
  font-family: $font-open;
  box-sizing: border-box;
}
.page__header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid $color-ligth-grey;
  @media all and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  .page__title {
    font-family: $font-montserrat;
    font-size: 30px;
    @media all and (min-width: $tablet) {
      margin: 0;
      flex-grow: 1;
      text-align: left;
    }
  }
  .page__logo {
    margin-right: 20px;
    max-width: 100px;
  }

  .finder__input {
    border: 1px solid $color-ligth-grey;
    border-radius: 15px;
    background-color: $color-dark-red;
    color: $color-white;
    padding: 10px 15px;
    width: 210px;
  }
  textarea {
    background-color: $color-dark-red;
  }
  .finder__btn {
    border: none;
    background-color: transparent;
    transform: translate(-42px, 3px);


    .finder__btn-icon {
      color: $color-ligth-grey;
      font-size: 20px;

    }
  }
}
.page__main {
  @media all and (min-width: $tablet) {
    display: flex;
    min-height: 80vh;
  }
}

.show-result__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media all and (min-width: $tablet) {
    padding-left: 30px;
    border-left: 1px solid $color-ligth-grey;
  }
}

.show__item {
  color: $color-dark-red;
  background-color: $color-white;
  border: 1px solid rgba(236, 235, 235, 0.1);
  padding: 10px;
  box-shadow: 0 1px 5px rgba(235, 231, 231, 0.884);
  width: 250px;
  text-align: center;
  margin: 20px 10px;
}

.favourite {
  background-color: $color-dark-red;
  color:$color-white;
  .show__title {
    &::after {
      content: "★";
      color: yellow;
      padding-left: 20px;
      font-size: 20px;
    }
  }
}

.show-favourites {
  padding-left: 15px;
  @media all and (min-width: $tablet) {
    order: -1;
  }
}
.show-favourites__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media all and (min-width: $tablet) {
    padding-right: 30px;

  }
}
.show__item.small {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  .show__img {
    width: 80px;
  }
  .show__title {
    margin-left:20px;
    font-size: 14px;
  }
  .show__remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;

  }
}

.show-favourites__reset-btn {
  border: none;
  background-color: $color-dark-red;
  border-radius: 15px;
  border: 1px solid $color-ligth-grey;
  color: $color-ligth-grey;
  text-shadow: 0 1px 0 black;
  font-size: 20px;
  font-weight: bold;
  width: 270px;
  padding: 10px;
  margin: 10px;


  &::after {
    content: "\f2ed";
    font-family: "Font Awesome 5 Pro";
    color: $color-ligth-grey;
    font-size: 15px;
    margin-left: 50px;
  }
}
