/*medias-sizes and breakpoints*/
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//colors
$color-dark-red : rgba(203, 57, 35, 0.788);
$color-ligth-grey:#575c5f;
$color-dark-grey: #292f33;
$color-white: #f5f5f1;

//font family
$font-open: "Open Sans", sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-merriweather: 'Merriweather', serif;
